<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226463894084-q3agpl9lmakco0u5u83cqs7e7t1rcpqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226463894084-q3agpl9lmakco0u5u83cqs7e7t1rcpqi</string>
	<key>API_KEY</key>
	<string>AIzaSyAFEajrQFSJEr625pHaKILZL40LqnxWqq8</string>
	<key>GCM_SENDER_ID</key>
	<string>226463894084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dhatnoonV2</string>
	<key>PROJECT_ID</key>
	<string>dhatnoon-rebuild</string>
	<key>STORAGE_BUCKET</key>
	<string>dhatnoon-rebuild.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226463894084:ios:e532ea7f7361fc411f0a11</string>
</dict>
</plist>